/*styles for the entire page*/ 
body {
	font-family: 'Nunito'; /*body font*/
	font-weight: 300;
	background-color: #F2F2F2;
	width: 80%;
	margin: auto;
}
/*styles for the horizontal rules or section dividers*/
hr {
	margin:10px 0;
	border:none;
	height:1px; /*set to 0px to hide line*/
	background: #aaaaaa; /*line color*/
}

/*styles for all paragraph and heading text */
h1, h2, h3, h4, h5, h6 {
	padding:10 10px;
	color: #404C5B;
	text-align: center;
}

/*heading specific styles*/
h1 {
	/* a different font for the <h1> title? */
	font-size: 40px;
	margin-bottom: 0px;
	
}

h2 {
	font-weight: bold;
	font-size:30px;
	margin-top: 5px;

}
#medalswon {
	margin-bottom: 5px;
}
h3 {
	margin-top:0px;
	margin-bottom: 0px;
}
h4 {
	margin-top:0px;
	margin-bottom: 0px;
}

/*style links*/
a:link, a:visited {
	color:#000000;
}
a:hover {
	color:#00aaff;
}
a:active {
	color:#ff00ff;	
}
img {
	display: block;
	margin: auto;
}

#map {
	width: 100%;
}
#chart {
	width: 80%;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 48.9%;
  
}
.column1 {
	background-color: #404C5B;
	float: left;
  	width: 0.8%;
  	height: 2500px;
  	margin: 0.2%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.gamesImgL {
	margin-top: 5px;
	margin-bottom: 40px;
	height: 100px;
	width: auto;
	float: left;
}
.gamesImgR {
	margin-top: 5px;
	height: 100px;
	float: right;
}
.gamesL {
	margin-bottom: 100px;
	margin-right: 20px;
	height: 150PX;
	border: #404C5B solid 4px;
	border-radius: 25px;
}
.gamesR {
	margin-top: 100px;
	margin-left: 20px;
	height: 150PX;
	border: #404C5B solid 4px;
	border-radius: 25px;
}
.gamesR h2, .gamesL h2 {
	background: rgb(64,76,91);
	background: linear-gradient(90deg, rgba(64,76,91,1) 0%, rgba(22, 26, 31,1) 100%);
	color: #F2F2F2;
	margin: 0px;
	border-radius: 20px;
}
.gamesR p, .gamesL p {
	margin: 10px;
	border-radius: 20px;
}
#Sydney{
	margin-top: 130px;
}
#Seoul{
	margin-bottom: 60px;
}
#mexico{
	margin-top: 25px;
	height: 50px;
}
#helsinki {
	height: 200px;
}
#melbourne {
	margin-top: 170px;
}
.medal {
	width: 20px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
#london {
	height: 200px;
}
.story {
	text-align: left;
	height: 450px;
	float: right;
	margin-bottom: 50px;
	border: #404C5B solid 4px;
	border-radius: 20px;
}
.story img {
	height: 100%;
	float: right;
	border-radius: 15px;
	margin-left: 20px;
}
.story p {
	font-size: 1.1vw;
	margin-left: 20px;
}
.story h2 {
	background: rgb(64,76,91);
	background: linear-gradient(90deg, rgba(64,76,91,1) 0%, rgba(22, 26, 31,1) 100%);
	color: #F2F2F2;
	margin: 0px;
	border-radius: 15px;

}
#ludvik {
	margin-right: 20px;
	margin-left: 0px;
	text-align: left;
	float: left;
}
.myself{
	text-align: center;
}
.medal1 {
	width: 20px;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	float: right;
}
#emilsilver {
	margin-right: 21%;
}
#ludviksilver {
	margin-right: 27%;
}
#jansilver {
	margin-right: 18%;
}
/* slideshow 
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container 
.slideshow-container {
	height: 300px;
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 70%;
  text-align: left;
}

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #404C5B;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */
